@model KAPatients.Models.PatientTreatment
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = $"Add a treatment for {Context.Session.GetString("sessionDName")}, Patient: {Context.Session.GetString("sessionPName")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a treatment for @Context.Session.GetString("sessionDName"), Patient: @Context.Session.GetString("sessionPName")</h1>

<h4>PatientTreatment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Treatment Name</label>
                <select asp-for="TreatmentId" class="form-control" asp-items="ViewBag.TreatmentId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="DatePrescribed" class="control-label"></label>*@
                <input type="hidden" asp-for="DatePrescribed" class="form-control" value="@DateTime.Now"/>
                @*<span asp-validation-for="DatePrescribed" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea rows="3" asp-for="Comments" cols="50"> </textarea>
                @*<span asp-validation-for="Comments" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*            <label asp-for="PatientDiagnosisId" class="control-label"></label>*@
                @*<select asp-for="PatientDiagnosisId" class ="form-control" asp-items="ViewBag.PatientDiagnosisId"></select>*@
                <input type="hidden" asp-for="PatientDiagnosisId" value="@Context.Session.GetString("sessionId")" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
